html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  /* background-color: $main-background-color; */
  background-color: red;
  color: $main-color;
  font-family: $main-font-stack;
  font-size: 1.6rem;
}
