doctype html
html(lang="en", dir="ltr")
	head
		meta(charset="utf-8")
		title Test Gulp
		link(rel="stylesheet", href="./assets/css/main.css")
	body
		.page
			h1.page-title Main title
			header
				nav(role="navigation")
					ul.menu
						li.menu-item
							a(href="#").menu-link Link 1
						li.menu-item
							a(href="#").menu-link Link 2
						li.menu-item
							a(href="#").menu-link Link 3
						li.menu-item
							a(href="#").menu-link Link 4
						li.menu-item
							a(href="#").menu-link Link 5
			main(role="main").mainContent
				h2.mainContent-title Sub-title
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus deserunt voluptatibus, aut provident nihil repellat reiciendis harum, incidunt inventore, cumque consectetur veniam voluptas, earum non minima. Inventore veniam, rem nesciunt.
				.test
			footer(role="contentinfo")
				p Content of the footer.
				a(href="#") Link 1
				a(href="#") Link 2
		script(src="./assets/js/main.js")